Ad Moderation final.json
{
  "name": "Ad Moderation Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad-moderation-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1726e3ce-6311-4dc3-ac05-054a0ef2f0cf",
      "name": "Webhook",
      "webhookId": "7c6672de-35fa-4171-8cad-c874db7919c2"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from webhook payload\n// Handle both direct body and nested body structure\nlet formData;\n\nif (items[0].json.body.body) {\n  // If data is nested in body.body\n  formData = items[0].json.body.body;\n} else if (items[0].json.body) {\n  // If data is directly in body\n  formData = items[0].json.body;\n} else {\n  // Fallback to entire json\n  formData = items[0].json;\n}\n\nreturn [{\n  json: {\n    ad_title: formData.title || formData.ad_title,\n    ad_description: formData.description || formData.ad_description,\n    ad_price: formData.price || formData.ad_price,\n    ad_category: formData.category || formData.ad_category,\n    image: formData.imageUrl,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "90299d54-1d5d-4842-8231-0d32d09ea150",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"data\": {\n    \"decision\": \"={{ $json.final_decision }}\",\n    \"confidence_score\": \"={{ $json.final_score }}\",\n    \"reasoning\": \"={{ $json.decision_reason }}\",\n    \"processed_at\": \"={{ $json.processed_at }}\"\n  }\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1520,
        0
      ],
      "id": "d3de82c7-6c58-4413-bbd1-c31f01140e0e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a content moderator for Fayrouza, an Islamic marketplace in Egypt. Analyze ONLY the text content of this ad. You will NOT see the image - another AI is analyzing that separately.\n\nAD TEXT TO ANALYZE:\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nTitle: {{ $json.ad_title }}\nDescription: {{ $json.ad_description }}\nPrice: {{ $json.ad_price }} EGP\nCategory: {{ $json.ad_category }}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nREJECTION CRITERIA - Flag as REJECT if text mentions:\n\n1. HARAM PRODUCTS:\n   - Alcoholic beverages (beer, wine, vodka, whiskey, spirits, liquor)\n   - Pork products (bacon, ham, pork chops, sausage with pork)\n   - Gambling items (poker chips, casino equipment, lottery tickets, dice games)\n   - Interest-based financial services (riba, payday loans, credit with interest)\n\n2. WEAPONS & DANGEROUS ITEMS:\n   - Firearms, guns, rifles, pistols, ammunition\n   - Knives marketed as weapons (tactical, combat - kitchen knives are OK)\n   - Explosives, fireworks, grenades, bombs\n   - Tasers, pepper spray, brass knuckles\n\n3. DRUGS & RELATED:\n   - Illegal drugs (marijuana, cocaine, heroin, meth, etc.)\n   - Drug paraphernalia (bongs, pipes, rolling papers marketed for drugs)\n   - Prescription medications sold without proper authorization\n   - Vaping/e-cigarette products (if banned in Egypt)\n\n4. ADULT/SEXUAL CONTENT:\n   - Sexual products, adult toys, provocative items\n   - Adult entertainment services\n   - Suggestive or explicit language\n   - Dating/hookup services\n\n5. PROHIBITED SERVICES:\n   - Fortune telling, tarot reading, astrology services\n   - Magic, witchcraft, spell casting services\n   - Services promoting shirk or un-Islamic practices\n   - Nightclub, bar, or casino services\n\n6. FRAUD & ILLEGAL:\n   - Counterfeit goods explicitly stated (fake Rolex, replica designer)\n   - Stolen items (\"hot merchandise\", \"fell off a truck\")\n   - Pyramid schemes, MLM scams\n   - Fake documents, IDs, diplomas\n   - Money laundering services\n\nREVIEW CRITERIA - Flag as REVIEW if:\n   - Description is extremely vague or suspicious (\"white powder\", \"special substance\")\n   - Price is unrealistically low for the item (iPhone for 100 EGP = scam likely) (take in mind that most of the ads is for used items so the price is not major part)\n   - Medicine or pharmaceutical products (need verification)\n   - Potential trademark violation (selling \"Addidas\" or \"Nikee\")\n   - Ambiguous wording that could hide prohibited items\n   - Poor grammar suggesting automated/scam posting\n   - Multiple red flags but not definitively haram\n\nAPPROVE CRITERIA - Flag as APPROVE if clearly:\n   - Legitimate electronics (phones, laptops, TVs, cameras)\n   - Halal food products\n   - Modest clothing and accessories\n   - Home goods and furniture\n   - Vehicles and automotive parts\n   - Real estate and property\n   - Professional services (tutoring, cleaning, repairs - if halal)\n   - Books, educational materials\n   - Sports equipment (non-weapon)\n   - Baby products, toys\n\nEGYPTIAN CONTEXT CONSIDERATIONS:\n   - Common Arabic/English mix is normal\n   - Egyptian pricing in EGP is expected\n   - Local slang is acceptable\n   - Brief descriptions are common (not automatically suspicious)\n\nRESPOND WITH ONLY THIS JSON (no markdown, no extra text):\n{\n  \"text_decision\": \"approve|reject|review\",\n  \"text_confidence\": 0-100,\n  \"text_reasoning\": \"Detailed explanation of your decision based on the TEXT content. Mention specific words or phrases that influenced your decision.\",\n  \"text_violations\": [\"List specific violations found in text, or empty array if none\"],\n  \"text_concerns\": [\"List any concerns or red flags even if not violations, or empty array\"]\n}\n\nCRITICAL RULES:\n- Base decision ONLY on the text provided, not assumptions\n- If text is completely innocent but vague, lean toward APPROVE (image AI will verify)\n- Confidence score should reflect certainty based on text clarity\n- Do NOT reject based on speculation - only clear text indicators\n- Return ONLY the JSON object, nothing else"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        496,
        -192
      ],
      "id": "5b569513-f147-470c-a244-256e35219cab",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "mGjamcyXcdVLZYct",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=You are a visual content moderator for Fayrouza, an Islamic marketplace in Egypt. Analyze ONLY the image provided. You will NOT see the text description - another AI is analyzing that separately.\n\nCONTEXT (for reference only):\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCategory: {{ $json.ad_category }}\nPrice: {{ $json.ad_price }} EGP\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nREJECTION CRITERIA - Flag as REJECT if image clearly shows:\n\n1. HARAM PRODUCTS VISIBLE:\n   - Alcohol bottles, cans, or containers (beer, wine, spirits)\n   - Pork meat or pork product packaging\n   - Casino equipment, poker tables, gambling machines\n   - Obvious haram religious symbols or idols\n\n2. WEAPONS & DANGEROUS ITEMS VISIBLE:\n   - Firearms, guns, rifles, pistols\n   - Ammunition, bullets, magazines\n   - Combat knives, tactical weapons (kitchen knives in kitchen context = OK)\n   - Explosives, grenades, fireworks\n\n3. DRUGS VISIBLE:\n   - Illegal drugs or substances\n   - Pills/powders in non-pharmaceutical packaging\n   - Drug paraphernalia (bongs, pipes for smoking drugs)\n\n4. ADULT/SEXUAL CONTENT VISIBLE:\n   - Sexual products or adult toys\n   - Provocative or sexually explicit imagery\n   - Nudity or inappropriate exposure\n   - Lingerie or undergarments marketed provocatively\n\n5. CLEAR VIOLATIONS:\n   - Obvious counterfeit products with fake logos\n   - Stolen goods with identifying marks\n   - Items clearly violating Islamic principles\n\nREVIEW CRITERIA - Flag as REVIEW if:\n   - Image is too blurry or unclear to verify product\n   - Quality is so poor you cannot confirm what it shows\n   - Medicine bottles or pharmaceutical products (need verification)\n   - Suspicious packaging that could contain prohibited items\n   - Ambiguous items that could be misused\n   - Product doesn't match the expected category\n   - Multiple items where some might be problematic\n   - Lighting is too dark to see clearly\n\nAPPROVE CRITERIA - Flag as APPROVE if image clearly shows:\n   - Clean, clear photo of legitimate product\n   - Electronics (phones, laptops, tablets, cameras, TVs)\n   - Modest clothing items\n   - Furniture and home goods\n   - Vehicles or automotive parts\n   - Halal food products in proper packaging\n   - Books, educational materials\n   - Toys, baby products\n   - Sports equipment (non-weapon)\n   - Kitchen appliances and utensils\n\nIMAGE QUALITY ASSESSMENT:\n   - Well-lit, clear, focused image = Higher confidence\n   - Blurry, dark, or partial view = Lower confidence, consider REVIEW\n   - Professional product photo = Good sign\n   - Poor quality camera phone in bad lighting = Be cautious\n\nEGYPTIAN MARKETPLACE CONTEXT:\n   - Used items may show wear (normal, not rejection reason)\n   - Home photos with background items visible (focus on main product)\n   - Arabic text on packaging is expected\n   - Multiple items in one photo is common practice\n\nRESPOND WITH ONLY THIS JSON (no markdown, no extra text):\n{\n  \"image_decision\": \"approve|reject|review\",\n  \"image_confidence\": 0-100,\n  \"image_reasoning\": \"Detailed description of what you see in the image and why you made this decision. Describe the product, quality, any concerns.\",\n  \"image_violations\": [\"List specific violations visible in image, or empty array if none\"],\n  \"image_concerns\": [\"List any concerns about image quality or ambiguous elements, or empty array\"]\n}\n\nCRITICAL RULES:\n- Base decision ONLY on what is VISIBLE in the image\n- If you cannot clearly see what the product is, use REVIEW (not rejection)\n- Confidence should reflect image clarity and your certainty\n- Do NOT reject based on assumptions - only clear visual violations\n- Background items are usually irrelevant unless they are the main subject\n- Focus on the PRIMARY product being sold\n- Return ONLY the JSON object, nothing else",
        "imageUrls": "={{ $json.image }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        160
      ],
      "id": "174c1bf4-5339-40c1-bbbf-a45682234028",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "mGjamcyXcdVLZYct",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle the actual response structure from Gemini\nconst response = items[0].json;\n\n// Navigate to the actual text content\nlet textContent;\nif (response.candidates && response.candidates[0]) {\n  // Standard Gemini response structure\n  textContent = response.candidates[0].content.parts[0].text;\n} else if (Array.isArray(response) && response[0]) {\n  // Array response structure (your case)\n  textContent = response[0].content.parts[0].text;\n} else if (response.content && response.content.parts) {\n  // Direct content structure\n  textContent = response.content.parts[0].text;\n} else {\n  throw new Error('Unexpected response structure: ' + JSON.stringify(response));\n}\n\n// Extract JSON from response (handle markdown code blocks)\nlet jsonText = textContent.trim();\n\n// Remove markdown code blocks if present\nif (jsonText.includes('```json')) {\n  jsonText = jsonText.split('```json')[1].split('```')[0].trim();\n} else if (jsonText.includes('```')) {\n  jsonText = jsonText.split('```')[1].split('```')[0].trim();\n}\n\n// Parse the JSON\nlet analysis;\ntry {\n  analysis = JSON.parse(jsonText);\n} catch (error) {\n  throw new Error('Failed to parse JSON: ' + jsonText);\n}\n\n// Map the fields to match your expected output\nreturn {\n  json: {\n    text_analysis: analysis.text_reasoning || analysis.reasoning || '',\n    text_approval_percentage: analysis.text_confidence || analysis.approval_percentage || 0,\n    text_issues: analysis.text_violations || analysis.issues_found || [],\n    text_concerns: analysis.text_concerns || [],\n    text_recommendation: analysis.text_decision ? analysis.text_decision.toUpperCase() : 'REVIEW',\n    \n    // Keep raw data for debugging\n    _raw_response: textContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -192
      ],
      "id": "8bf120f4-871f-456a-83e2-1b919f1d94d2",
      "name": "Parse Text Analysis"
    },
    {
      "parameters": {
        "jsCode": "// Handle the actual response structure from Gemini\nconst response = items[0].json;\n\n// Navigate to the actual text content\nlet textContent;\nif (response.candidates && response.candidates[0]) {\n  textContent = response.candidates[0].content.parts[0].text;\n} else if (Array.isArray(response) && response[0]) {\n  textContent = response[0].content.parts[0].text;\n} else if (response.content && response.content.parts) {\n  textContent = response.content.parts[0].text;\n} else {\n  throw new Error('Unexpected response structure: ' + JSON.stringify(response));\n}\n\n// Extract JSON from response\nlet jsonText = textContent.trim();\n\nif (jsonText.includes('```json')) {\n  jsonText = jsonText.split('```json')[1].split('```')[0].trim();\n} else if (jsonText.includes('```')) {\n  jsonText = jsonText.split('```')[1].split('```')[0].trim();\n}\n\n// Parse the JSON\nlet analysis;\ntry {\n  analysis = JSON.parse(jsonText);\n} catch (error) {\n  throw new Error('Failed to parse JSON: ' + jsonText);\n}\n\n// Map the fields\nreturn {\n  json: {\n    image_analysis: analysis.image_reasoning || analysis.reasoning || '',\n    image_approval_percentage: analysis.image_confidence || analysis.approval_percentage || 0,\n    image_issues: analysis.image_violations || analysis.issues_found || [],\n    image_concerns: analysis.image_concerns || [],\n    image_description: analysis.image_description || 'No description provided',\n    image_recommendation: analysis.image_decision ? analysis.image_decision.toUpperCase() : 'REVIEW',\n    \n    // Keep raw data for debugging\n    _raw_response: textContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        160
      ],
      "id": "df16882f-0d78-4390-8284-a47dd4863ddb",
      "name": "Parse Image Analysis"
    },
    {
      "parameters": {
        "jsCode": "// Get original webhook data\nconst webhookData = $('Webhook').first().json;\n\n// The merge node outputs 2 items in an array\n// Item 0 = Parse Text Analysis output\n// Item 1 = Parse Image Analysis output\nconst textData = items[0].json;\nconst imageData = items[1].json;\n\n// Define thresholds\nconst thresholds = {\n  auto_approve: 80,\n  needs_review: 40\n};\n\n// Extract scores\nconst textScore = textData.text_approval_percentage || 0;\nconst imageScore = imageData.image_approval_percentage || 0;\n\n// Calculate final score (average of both)\nconst finalScore = Math.round((textScore + imageScore) / 2);\n\n// Determine final decision\nlet finalDecision;\nlet decisionReason;\n\n// Check if either AI explicitly rejected\nconst textRejects = textData.text_recommendation === 'REJECT' || \n                   (textData.text_issues && textData.text_issues.length > 0);\nconst imageRejects = imageData.image_recommendation === 'REJECT' || \n                    (imageData.image_issues && imageData.image_issues.length > 0);\n\nif (textRejects || imageRejects) {\n  finalDecision = \"AUTO_REJECTED\";\n  decisionReason = \"Content violates platform guidelines\";\n} else if (finalScore >= thresholds.auto_approve) {\n  finalDecision = \"AUTO_APPROVED\";\n  decisionReason = \"Content meets all guidelines with high confidence\";\n} else if (finalScore >= thresholds.needs_review) {\n  finalDecision = \"NEEDS_REVIEW\";\n  decisionReason = \"Content requires human review due to moderate confidence\";\n} else {\n  finalDecision = \"AUTO_REJECTED\";\n  decisionReason = \"Low confidence score indicates potential issues\";\n}\n\n// Combine all issues and concerns\nconst allIssues = [\n  ...(textData.text_issues || []),\n  ...(imageData.image_issues || [])\n];\n\nconst allConcerns = [\n  ...(textData.text_concerns || []),\n  ...(imageData.image_concerns || [])\n];\n\n// Prepare combined reasoning\nconst combinedReasoning = `\n=== TEXT ANALYSIS ===\nDecision: ${textData.text_recommendation}\nConfidence: ${textScore}%\nReasoning: ${textData.text_analysis}\n\n=== IMAGE ANALYSIS ===\nDecision: ${imageData.image_recommendation}\nConfidence: ${imageScore}%\nReasoning: ${imageData.image_analysis}\nImage Description: ${imageData.image_description || 'Not provided'}\n\n=== ISSUES FOUND ===\n${allIssues.length > 0 ? '• ' + allIssues.join('\\n• ') : 'None'}\n\n=== CONCERNS ===\n${allConcerns.length > 0 ? '• ' + allConcerns.join('\\n• ') : 'None'}\n`;\n\n// Return single item (not array) for the next nodes\nreturn [{\n  json: {\n    // Original data from webhook\n    post_id: webhookData.post_id,\n    title: webhookData.title,\n    description: webhookData.description,\n    image_url: webhookData.image_url,\n    category: webhookData.category || 'Unknown',\n    user_id: webhookData.user_id || 'Unknown',\n    \n    // Text analysis results\n    text_analysis: textData.text_analysis,\n    text_approval_percentage: textScore,\n    text_recommendation: textData.text_recommendation,\n    text_issues: textData.text_issues || [],\n    text_concerns: textData.text_concerns || [],\n    \n    // Image analysis results\n    image_analysis: imageData.image_analysis,\n    image_approval_percentage: imageScore,\n    image_recommendation: imageData.image_recommendation,\n    image_description: imageData.image_description || 'Not provided',\n    image_issues: imageData.image_issues || [],\n    image_concerns: imageData.image_concerns || [],\n    \n    // Final decision\n    final_score: finalScore,\n    final_decision: finalDecision,\n    decision_reason: decisionReason,\n    combined_reasoning: combinedReasoning.trim(),\n    issues_found: allIssues,\n    concerns_found: allConcerns,\n    \n    // Metadata\n    timestamp: new Date().toISOString(),\n    processed_at: new Date().toLocaleString('en-US', { timeZone: 'UTC' })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        0
      ],
      "id": "c29ce9ee-a8d7-4d8e-b42e-c9c829dfbb6d",
      "name": "Calculate Final Decision"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        0
      ],
      "id": "da0a4e1e-e71f-4201-8aa4-2b833fa93880",
      "name": "Combine Analysis Results1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Text Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Parse Image Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text Analysis": {
      "main": [
        [
          {
            "node": "Combine Analysis Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image Analysis": {
      "main": [
        [
          {
            "node": "Combine Analysis Results1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calculate Final Decision": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Analysis Results1": {
      "main": [
        [
          {
            "node": "Calculate Final Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f93282b3-04bd-485e-9852-c276586aae70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "496f61b923424cb29f0bf06fe9adb86d0dea1104417f732656e09e4d203cde21"
  },
  "id": "B70O9uWMtyLtuv2CN8Gl_",
  "tags": []
}